.blog-content {
    background-color: rgb(255, 210, 125);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 30px;
}
.Cons {
    width: 600px;
    height:  400px;
    position: relative;
    overflow: scroll;
}

.Cons h1 {
    color: red;
    font-size: 50px;
    font-weight: 800;
}